@import './base/normalize';
@import './utils/variables';
@import './utils/placeholders';
@import './base/base';
@import './components/spinner';
@import './components//footer';
@import './components/paginator';
@import './components/header';
// @import './components/header-my-library';
@import './components/main-section';
@import './components/modal-window-film.scss';
@import './components/modal-team-members';
