$primary-color: #ffffff;
$secondary-color: #ff6b01;
$footer-color: #f7f7f7;
$main-font: 'Roboto', sans-serif;
$primary-text-color: #000000;
$secondary-text-color: #8c8c8c;

$member-color-1st: #b53f10;
$member-color-2nd: #001c4e;
$member-color-3rd: #8c3c47;
$member-color-4th: #2f8e84;
$member-color-5th: #dd9503;
$member-color-6th: #ee3000;
$member-color-7th: #149400;
