.cen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}
.paginator {
  display: flex;
  font-size: 16px;
  text-align: center;
}
.is-hidden {
  display: none;
}
.pages {
  display: flex;
}

.paginator-page-first {
  color: white;
}
.paginator-page {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  color: black;
  cursor: pointer;

  padding: 10px;
}
.paginator-current {
  display: inline-block;

  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;

  min-width: 40px;
  height: 40px;

  font-size: 18px;
  color: white;
  background-color: #ff6b08;
}

.paginator-previous,
.paginator-next {
  color: black;
}
