.main {
  padding-top: 60px;
}
.movies {
  list-style-type: none;
  font-size: 10px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  &-item {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: 1024px) {
      width: calc((100% - 6 * 15px) / 3);
    }
  }
}

.thumb {
  position: relative;
  padding: 0 0 145% 0;
  margin-bottom: 10px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: block;
    object-fit: cover;
  }
}

.card-title {
  font-family: $main-font;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}

.info {
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ff6b08;
}
.line {
  margin-right: 2px;
  margin-left: 2px;
}
